* {
    background-color: antiquewhite;
    color: navy;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}


#title {
    font-size: 175%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(230, 205, 230, 0.733);
    border: 5px solid rgb(177, 29, 29)
}

#menu {
    text-align: left;
    border: 3px solid rgb(173, 213, 230);
    position: relative;
}

#dish {
    font-size: 125%;
    font-weight: bold;
    color: teal;
    width: max-content;
    text-align: center;
    border: 4px solid rgb(173, 213, 230);
    background-color: whitesmoke;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
}

p {
    position: relative;
    top: 32px;
}


@media (min-width: 992px) {
    .col-d-1, .col-d-2, .col-d-3, .col-d-4, 
    .col-d-5, .col-d-6, .col-d-7, .col-d-8,
    .col-d-9, .col-d-10, .col-d-11, .col-d-12 {
        float: left;
    }
    .col-d-1 {
        width: 8.33%;
    }
    .col-d-2 {
        width: 16.66%;
    }
    .col-d-3 {
        width: 25%;
    }
    .col-d-4 {
        width: 33%;
    }
    .col-d-5 {
        width: 41.66%;
    }
    .col-d-6 {
        width: 50%;
    }
    .col-d-7 {
        width: 58.33%;
    }
    .col-d-8 {
        width: 66.66%;
    }
    .col-d-9 {
        width: 74.99%;
    }
    .col-d-10 {
        width: 83.33%;
    }
    .col-d-11 {
        width: 91.66%;
    }
    .col-d-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-t-1, .col-t-2, .col-t-3, .col-t-4, 
    .col-t-5, .col-t-6, .col-t-7, .col-t-8,
    .col-t-9, .col-t-10, .col-t-11, .col-t-12 {
        float: left;
    }
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 74.99%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
    
}

@media (max-width: 767px) {
    .col-m-1, .col-m-2, .col-m-3, .col-m-4, 
    .col-m-5, .col-m-6, .col-m-7, .col-m-8,
    .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
        float: left;
    }
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 74.99%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}


